/* global styles */
body {
  color: rgb(127, 82, 82);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* global styles end */
/* header */
.header {
  background-color: gray;
  padding: 15px;
}

/* my projects */
.my-projects {
  background-color: green;
}

/* services  */
.services .service-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.services .service-grid .service-item {
  background-color: gray;
}

/* footer  */
footer.footer {
  padding: 25px;
}